<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <property name="logpattern">%highlight{[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n}{FATAL=red
            blink, ERROR=red, WARN=yellow bold, INFO=WHITE, DEBUG=green bold, TRACE=blue}
        </property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false" pattern="${logpattern}"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="org.hibernate.SQL" level="DEBUG"/> <!--Log all SQL statements-->
        <Logger name="org.hibernate.type.descriptor.sql" level="TRACE"/> <!--Log parameters values-->
        <Logger name="org.hibernate" level="INFO"/>

        <Root level="DEBUG">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>
